.info {
  font-size: 12pt;
}

label {
  padding-right: 8px;
}

.row {
  font-size: 14pt;
  padding-top: 8px;
}

select {
  font-size: 12pt;
  height: 20px;
}

.table {
  font-size: 12pt;
}

.textField {
  font-size: 12pt;
  color: #fff;
  height: 20px;
  width: 200px;
}

th {
  height: 50px;
}

td {
  height: 30px;
  text-align: center;
  width: 120px;
}